.container {
  max-width: 1080px;
  margin: 0px auto;
}
a {
  text-decoration: none;
  color: inherit;
}
* > * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 40px;
}

.header__link {
  margin: 0px 10px;
  color: #fff;
  line-height: 80px;
}
header > nav {
  text-align: center;
}
header {
  align-self: stretch;
  background-color: #202020;
}
main {
}
h1 {
  text-align: center;
  margin: 15px 0;
}
